.thumbnail {
    height: 7vi;
    position: relative;
    top: 8vi;
    padding: .7vi;
}

.swiper {
    width: 48em;
    height: 7em;
    position: relative;
    top: 8vi;
}

.swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slide-content{
    animation: slideDownDisappear 2s ease forwards; /* Adjust the duration and timing function as needed */
}


@keyframes slideDownDisappear {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  