.import-console{
    position: absolute;
    top: 1vh;
    background-color: #ffffff;
    width: 96%;
    height: 95%;
    left: 50%;
    transform: translate(-50%, 0);
}

.import-consol-title{
    position: absolute;
    top:2vh;
    left:50%;
    transform: translateX(-50%);
    font-size: 2vh;
}

.import-input {
    position: absolute;
    top: 50%;
    right: 30%;
    width: 40%;
    border-radius: 50px;
}

.import-url-button{
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 50%;
    right: 20%;
    width: 3.2vw;
    font-size: .8vw;
    
}

.computer-wrapper {
    position: absolute;
    top: 0vh;
    height: 30vh;
    width: 100%;
    left: 0;
    z-index: 1;
    pointer-events: none;
    text-align: center;
  }
  
  .yt-logo{
    position: absolute;
    height: auto;
    width: 18%;
    top:6vh;
    left: 5%;
  }
  
  .computer-screen{
    width: 100%;    
  }

  .trash-icon{
    position: absolute;
    height: auto;
    width: 4.5%;
    right: 5%;
    top: 3.4vh;
    cursor:pointer;
    transition: all 500ms;
  }

  .trash-icon:hover{
   rotate: 20deg;
  }
