.recorder{
    position: absolute;
    border: 2px;
    border-style: solid;
    width: 100%;
    height: 100%;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-tape-input{
    position: absolute;
    top: 10vh;
}

.mix-tape-wrapper{
    /* background-color: brown; */
    width: 50%;
    height:10vh;
}


.mt-button-bar{
    position: absolute;
    display: flex;
    top:30vh
}


