.console{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.7vh;
    background-image: url(https://lh3.googleusercontent.com/drive-viewer/AEYmBYRre1ju-uNzy0GyW3hrvjoFY2pYFCszT5ix-EvudrFJ9EhnHJXhV-3K1S8kKYTuxbPpzqsMxOAvyJKAxtd7fzRCQ-9aPg=s2560);
    background-size: cover;
    animation: enterChalk 1s ease-in-out;
}

.slider-container{
    position: absolute;
    width: 100%;
    top: 25%;
}


.slider{
    width: 60%;
    padding: 1%;
}


@keyframes enterChalk {
    0% {
      transform: translateX(-45vh);
      ;
    }
  
    100% {
      transform: translateX(0);
      ;
    }
  }

  
