.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.app-logo {
  height: 25vh;
  pointer-events: none;
  position: absolute;
  left: 2vh;
  top: 1.4vh;
  z-index: 2;
}

.app-header {
  background: linear-gradient(to bottom, #181680, #b87b36);
  background: linear-gradient(to bottom, #3693b8, #b87b36);
  background: linear-gradient(to bottom, #b83a36, #b87b36);
  height: 6.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-body {
  height: 42vi;
  position: relative;
}


.frame-up,
.frame-down {
  display: flex;
  position: relative;
  left: 0%;
  top: 0%;
  height: 42.8vh;
  width: 76vh;
}


.iframe-container {
  /* border: #cc2f2f 2pt solid; */
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}


.frame-up {
  animation: lowerFrame 1.5s ease forwards;
}

.frame-down {
  animation: liftFrame 1.5s ease forwards;
}

.cassetteCarousel{
  /* background-color:#29a1aa; */
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  width: 100%;
  height: 20%;
  z-index: 1;
}

.quote {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: calc(10px + 2vmin);
}

.canvas {
  position: relative;
  height: 60vh;
  width: 100%;
  /* background-color: #aa5a29; */
  top: 5%;
}


.flex-container {
  /* border: 2px solid #9c0a0a; */
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.flex-item {
  /* background-color: #00000098; */
  padding: 10vh;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.flex-column {
  /* border: 1px solid #0ca080; */
  width: 50%;
  position: relative;
  height: 100%;
}


@keyframes lowerFrame {
  0% {
    transform: translateY(8vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes liftFrame {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8vh);
  }
}